* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#calculator {
  background-color: #fed9b7;
  width:400px;
  height:530px;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#screen {
  background-color: #fdfcdc;
  width:90%;
  overflow: scroll;
  height: 20%;
  margin: 20px;
  display:flex;
  border-radius: 10px;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
}
#screen p {
}
#key-div {
  background-color: #f07167;
  border-radius: 10px;
  width:90%;
  height:325px;
  display:flex;
  gap:8px;
  justify-content: center;
  flex-wrap:wrap;
  padding: 20px 0px;
}
.btn {
  background-color: #D2E0FB;
  width: 75px;
  height: 75px;
  font-size: 30px;
  padding:0px;
  border:none;
  border-radius: 10px;
}
.btn:hover {
  background-color: #dfe7f9;
}
#enter {
  background-color: #1b4965;
  color:white;
}
#enter:hover {
  background-color: #185175;
}
.operator {
  background-color: #8EACCD;
}
.operator:hover {
  background-color: #9dbde0;
}
#result {
  margin:0px 10px;
  font-size: 40px;
}